/* pages background classes */
.mainpage {
    background-image: url(https://www.strasser-steine.at/wp-content/uploads/2020/03/strasser_blog_kw11-646383058.jpg);
    color:azure;
    font-family: sans-serif;
    margin: 5% 15% 5% 15%;
}

.magicpage {
    background-color:rgb(94, 63, 38);
    border: 3px;
    border-radius: 10px;
    color:azure;
    font-family: sans-serif;
    margin:5% 15% 5% 15%;
    width: 1000px;
    height: 2000px;
    background-position: center;
    border: 10px solid black; 
    border-radius: 20px; 
    padding: 20px; 
}


/* headlines classes */
.h1_mainpage {
    font-family: "Monaco", monospace;
    font-size: 50px;
    font-weight: bolder
}

.h1_magicpage {
    font-family: "Monaco", monospace;
    font-size: 50px;
    font-weight: bolder;
    position: center;
}

.h3__mainpage{
    font-weight: bold;
}

/* divider class */
.divider {
    height:4px;
    background-color:azure;
    border-color: azure;
    margin:5% 5% 5% 5%
}

.divider_magic {
    height:4px;
    background-color:black;
    border-color: black;
    margin:5% 5% 5% 5%
}

/* div classes */
.name {
    background-color: rgba(0, 0 ,0, 0.5);
    width: 200px;
    height: 4rem;
}

.tags {
    background-color: rgba(0, 0 ,0, 0.5);
    width: 50px;
    height: 1.5rem;
}

.accounts {
    background-color: rgba(0, 0 ,0, 0.5);
    width: 140px;
    height: 1.5rem;
}

/* buttons classes */

.buttons a {
    padding: 20px 40px;
    background-color: rgba(0, 0, 0.7); /* Blaue transparente Hintergrundfarbe */
    border: 3px solid hwb(180 94% 0%);
    border-radius: 10px;
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(191, 232, 238, 0.6);
}

.buttons a:hover {
    background-color: rgba(103, 126, 156, 0.9);
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 225, 255, 0.8);
}

/* picture classes */
.loki {
    padding: 5% 5% 5% 5%
}

/* default styles */

p {
    font-size: 20px
}

a {
    color: azure;
    font-size: 20px
}

/*a:visited {
    color:aquamarine
}*/
